body {
	background-color: seashell; 
}



.table {
	padding: 10px;
	letter-spacing: 2px;
	line-height: 1.6;
	text-transform: uppercase;
	font-size: 16px;
	font-family: "Arial"

}

.tabletwo {
	
	line-height: 1.6;
	font-size: 13px;
	font-family: "Arial"
}

.tablethree {
	line-height: 1.6;
	font-size: 13px;
	font-family: "Arial"
}

.tablefour {
	line-height: 1.6;
	font-size: 13px;
	font-family: "Arial"
}

.tablefive {
	line-height: 1.6;
	font-size: 13px;
	font-family: "Arial"
}

.tablesix {
	line-height: 1.6;
	font-size: 13px;
	font-family: "Arial"
}


h1 {
	padding: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
	border: 3px solid;
	border-color: coral;
	border-color: hsla(0, 0%,75%,0.5);
	font-family: "Arial";
    font-size: 30px;
    color: black;
    margin-left: 250px;
    text-align: center;
    line-height: 1.6;
}

h2 {
	padding: 10px;
	letter-spacing: 2px;
	border: 3px solid;
	border-color: coral;
	border-color: hsla(0, 0%,75%,0.5);
    color: black;
    line-height: 1.6;
    
}



.image1 {
	border: 3px solid;
}

.explain {
	line-height: 1.6;
	font-family: "Arial";
}

.ingredient {
	text-transform: uppercase;
	border-right: hidden;
	font-family: "Arial";
}

.listone {
	line-height: 1.6;
	font-size: 15px;
	font-family: "Arial"
}

.listtwo {
	line-height: 1.6;
	font-family: "Arial"
}

.textone {
	font-size: 18px;
	line-height: 1.6;
	font-weight: normal; 
	border: 3px solid;
	font-family: "Arial"
}

.texttwo {
	font-size: 18px;
	line-height: 1.6;
	border: 3px solid;
	font-family: "Arial"
}


.decorating {
	text-transform: uppercase;
	font-family: "Arial"
}

.partone {
	line-height: 1.6;
	text-transform: uppercase;
	font-family: "Arial"
}

.parttwo {
	line-height: 1.6;
	text-transform: uppercase;
	font-family: "Arial"

}

.thingsyoullneed {
	line-height: 1.6;
	text-transform: uppercase;
}

.makingcheesecake {
	line-height: 1.6;
	text-transform: uppercase;
}

.decoratingcheesecake {
	line-height: 1.6;
	text-transform: uppercase;
	}



.image2 {
	border: 3px solid;
}

.image3 {
	border: 3px solid;
}

.image4 {
	border: 3px solid;
}

.image5 {
	border: 3px solid;
}

.image6 {
	border: 3px solid;
}

.image7 {
	border: 3px solid;
}

.image8 {
	border: 3px solid;
}

.image9 {
	border: 3px solid;
}

.image10 {
	border: 3px solid;
}

.image11 {
	border: 3px solid;
}

.image12 {
	border: 3px solid;
}

.image13 {
	border: 3px solid;
}

.image14 {
	border: 3px solid;
}

.image15 {
	border: 3px solid;
}

.image16 {
	border: 3px solid;
}

.image17 {
	border: 3px solid;
}

.image18 {
	border: 3px solid;
}

.image19 {
	border: 3px solid;
}

.image20 {
	border: 3px solid;
}

.image21 {
	border: 3px solid;
}

.image22 {
	border: 3px solid;
}

.image23 {
	border: 3px solid;
}

.image24 {
	border: 3px solid;
}

.image26 {
	border: 3px solid;
}

.image27 {
	border: 3px solid;
}

.image28 {
	border: 3px solid;
}

.image29 {
	border: 3px solid;
}

.image30 {
	border: 3px solid;
}

.image31 {
	border: 3px solid;
}

.image32 {
	border: 3px solid;
}

.image33 {
	border: 3px solid;
}

.image34 {
	border: 3px solid;
}

.image35 {
	border: 3px solid;
}