body{
	margin: 0 auto;
	width: 600px;
	display:block;

}



.instagramlogin{
	width: 350px;
	height: 570px;
	background: whitesmoke; 
	border: 1px solid;
	margin-left: 220px;
	margin-top: 250px;
	display: inline-block;
}




.all{
	width: 50px;

}



.account{
	 width: 350px;
     height: 60px;
     background: whitesmoke;
     border: 1px solid;
     margin-left: 220px;
     margin-top: 15px;
     display: inline-block;
}

.dots{
	margin-left:388px;
	display: inline-block;

}



/* first block*/
.app-store {
	float:left;
	width: 130px;
      height: 40px;
      background: black;
      border: 1px solid;
      margin-left: 240px;
      margin-right: 40px;
      margin-top: 15px;
      display: inline-block;
      border-radius: 3px;
     

}
/* second block*/
.googleplay{
	float:left;
	width: 130px;
      height: 40px;
      background: black;
      border: 1px solid;
      margin-left: 1px;
      margin-top: 15px;
	display:inline-block;
	 border-radius: 3px;
	 
}



.moredots{
	
	margin-left: 170px;
    margin-top: 30px;
	float:right;
	bottom:0%;
	position: relative;
	display: inline-block;
}
