body{
	background: black;
}

.everything{
	color: white;
	font-family:sans-serif;
	font-weight: 12px;
	letter-spacing: 100px;
	text-transform: uppercase;
	margin-left: 30px;
}


.slowmotion{
	color: white;
	font-family:sans-serif;
	font-weight: 12px;
	letter-spacing: 100px;
	text-transform: uppercase;
	margin-left: 30px;
	margin-top: 900px;
}

.calculate{
	margin-top: 500px;
	color:white;
	font-family:sans-serif;
	text-transform: capitalize;
	font-weight: 20px;
	letter-spacing: 30px;
}

.required{
	margin-top: 600px;
	margin-left: 800px;
	color:white;
	font-family:sans-serif;
	font-weight: 20px;
	letter-spacing: 10px
}

.move{
	color: white;
	font-family:sans-serif;
	font-weight: 12px;
	margin-left: 1700px;
	letter-spacing: 5px;
	margin-top: 400px;
}

.to{
	color: white;
	font-family:sans-serif;
	font-weight: 12px;
	letter-spacing: 5px;
	margin-top: 400px;
}

.place{
	color: white;
	font-family: sans-serif;
	font-weight: 12px;
	letter-spacing: 5px;
}

.dontwant{
	color: white;
	font-family: sans-serif;
	font-weight: 12px;
	letter-spacing: 10px;
	margin-top: 900px;
}

.yet{
	color: white;
	font-family: sans-serif;
	font-weight: 12px;
	letter-spacing: 10px;
	margin-top: 900px;
	margin-left: 2000px;
}

.stay{
	color: white;
	font-family: sans-serif;
	font-weight: 12px;
	letter-spacing: 4px;
	margin-top: 900px;
	margin-left: 500px;
}

.where{
	color: white;
	font-family: sans-serif;
	font-weight: 12px;
	letter-spacing: 4px;
	margin-top: 900px;
	margin-left: 500px;
}

.drag{
	color: white;
	font-family: sans-serif;
	font-weight: 12px;
	letter-spacing: 4px;
	margin-top: 4000px;
	margin-left: 500px;
}

.along{
	color: white;
	font-family: sans-serif;
	font-weight: 12px;
	letter-spacing: 4px;
	margin-top: 4000px;
	margin-left:400px;
}

.the{
	color: white;
	font-family: sans-serif;
	font-weight: 12px;
	letter-spacing: 4px;
	margin-top: 4000px;
	margin-left:400px;
}

.ground{
	color: white;
	font-family: sans-serif;
	font-weight: 12px;
	letter-spacing: 4px;
	margin-top: 4000px;
	margin-left:400px;
}

.kicking{
	color: white;
	font-family: sans-serif;
	font-weight: 5px;
	letter-spacing: 70px;
	margin-top: 4000px;
	margin-left:400px;
}

.dust{
		color: white;
	font-family: sans-serif;
	font-weight: 5px;
	letter-spacing: 10px;
	margin-top: 4000px;
	margin-left:600px;
}

.dust1{
		color: white;
	font-family: sans-serif;
	font-weight: 5px;
	letter-spacing: 10px;
	margin-top: 4000px;
	margin-left:600px;
}

.chokes{
	color: white;
	font-family: sans-serif;
	font-weight: 5px;
	letter-spacing: -1px;
	margin-top: 4000px;
	
}

.fills{
	color: white;
	font-family: sans-serif;
	font-weight: 5px;
	letter-spacing: -1px;
	margin-top: 4000px;
	margin-left:1000px;
}

.cake{
	color: lightgray;
	font-family: sans-serif;
	font-weight: 5px;
	letter-spacing: -2px;
	margin-top: 4000px;
	margin-left:1000px;
}

.eyes{
	color: lightgray;
	font-family: sans-serif;
	font-weight: 5px;
	letter-spacing: -3px;
	margin-top: 4000px;
	margin-left:1000px;
}

.mud{
	color: gray;
	font-family: sans-serif;
	font-weight: 5px;
	letter-spacing: 0px;
	margin-top: 4000px;
	margin-left:1000px;
}

.light{
	color: dimgray;
	font-family: sans-serif;
	font-weight: 5px;
	letter-spacing: 0px;
	margin-top: 4000px;
	margin-left:1000px;
}

.if{
	color: rgb(45, 45, 45);
	font-family: sans-serif;
	font-weight: 5px;
	letter-spacing: 0px;
	margin-top: 4000px;
	margin-left:1000px;
}