body {
		background-color: white; 

		
}

.slow{
	font-family: sans-serif;
	font-weight:100;
	font-size: xx-small;
	text-align: center;
	margin-bottom:500px;
}

.time{
font-family: sans-serif;
	font-weight:99;
	

}

.required{
	font-family: sans-serif;
		font-weight: 98;
}

.place{
font-family: sans-serif;
font-weight:98;
}

.dont{
font-family: sans-serif;
	font-weight:97;
}

.stay{
font-family: sans-serif;
	font-weight:96;
}

.where{
font-family: sans-serif;
	font-weight:95;
}

.drag{
font-family: sans-serif;
	font-weight:94;
}

.ground{
font-family: sans-serif;
	font-weight:93;
}

.kicking{
font-family: sans-serif;
	font-weight:92;
	font-size: 50px;
}

.dust{
font-family: sans-serif;
	font-weight:91;
}

.chokes{
font-family: sans-serif;
	font-weight:90;
}

.breath{
font-family: sans-serif;
	font-weight:89;
}

.eyes{
font-family: sans-serif;
	font-weight:88;
}

.mud{
font-family: sans-serif;
	font-weight:87;
}

.light{
font-family: sans-serif;
	font-weight:86;
}

.any{
font-family: sans-serif;
	font-weight:85;
}
