body {
		background-color: white; 

		
}


.poem{
font-family: sans-serif;
	font-style: oblique;
	font-weight: 100;
	margin-left: 800px;
	margin-right: 700px;
	margin-top: 500px;
	margin-bottom: 500px;
}


	
}