body {
		background-color: white; 

		
}


.poem{
font-family: Arial Narrow,sans-serif;
line-height: 2000%;
text-transform: uppercase;
font-weight: lighter;
margin-left:600px;
}



.want{
font-family: Arial Narrow,sans-serif;
line-height: 2000%;
text-transform: uppercase;
font-weight: lighter;
margin-left:100px;

}



.chokes{
font-family: Arial Narrow,sans-serif;
line-height: 2000%;
text-transform: uppercase;
font-weight: lighter;
margin-left:600px;
	
}

	
}