body {
		background-color: #FEFEFE; 
}

.everything{
		padding: 30px;
		border: 50px solid;
		margin: 600px;
	}

.column{
		padding: 10px;
		margin: 30px;
		display: contents;
		border: 2px solid;
		background-color: #ccc;
		width: 200px;
	}

	.tomove{
		padding: 30px;
		border: 60px solid;
		margin: 500px;
	}

	.where {
		border: 65px solid;
		padding: 70px;
		margin: 500px;
	}

	.idont{
		padding: 30px;
		border: 80px solid;
		margin: 500px;
	  }

	 .myfeet{
	 	padding: 50px;
		border: 90px solid;
		margin: 500px;
	 }

	 .kicking {
	 	padding: 50px;
	 	border: 100px solid;
	 	margin:500px;
	 }

	 .dust{
	 	padding: 50px;
	 	border: 110px solid;
	 	margin:500px;
	 }



	 .begins{
	 	padding: 50px;
	 	border: 120px solid;
	 	margin: 500px;
	 }

	 .light {
	 	padding: 50px;
	 	border: 130px solid;
	 	margin: 600px;
	 }


	 .any{ 

	 	padding: 40px;
	 	border: 140px solid;
	 	margin: 500px;
	  }