

body{
	background: black;
	font-family: sans-serif;
	color: white;
	font-size: 150pt;
}

.story{
	font-weight: 100;
	font-family: 'Nanum Brush Script', cursive;
	color: #808080;
	text-align: center;
	padding: 10px;


}


